<div class="all">
    <div class="row">
        <div class="col">
            <h3>Ingresar Producto</h3>
            <form>
                <div>
                    <div class="row mb-3">
                        <label for="title" class="col-sm-2 col-form-label">Título:</label>
                        <div class="col-sm-10">
                            <input type="text" id="title" name="title"><br><br>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="description" class="col-sm-2 col-form-label">Descripción:</label>
                        <div class="col-sm-10">
                            <input type="text" id="description" name="description"><br><br>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="thumbnail" class="col-sm-2 col-form-label">Imagen:</label>
                        <div class="col-sm-10">
                            <input type="text" id="thumbnail" name="thumbnail"><br><br>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="price" class="col-sm-2 col-form-label">Precio:</label>
                        <div class="col-sm-10">
                            <input type="number" id="price" name="price"><br><br>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="stock" class="col-sm-2 col-form-label">Stock:</label>
                        <div class="col-sm-10">
                            <input type="number" id="stock" name="stock"><br><br>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="code" class="col-sm-2 col-form-label">Código:</label>
                        <div class="col-sm-10">
                            <input type="text" id="code" name="code"><br><br>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="category" class="col-sm-2 col-form-label">Categoria:</label>
                        <div class="col-sm-10">
                            <input type="text" id="category" name="category"><br><br>
                        </div>
                    </div>
                    <input id="btn_addproduct" type="submit" class="btn btn-primary" value="Agregar">
            </form>
        </div>
        <div class="col">
            <form>
                <h3>Eliminar Producto</h3>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Producto Id:</label>
                    <div class="col-sm-10">
                        <input type="text" id="id">
                    </div>
                </div>
                <button id="btn_deleteproduct" class="btn btn-primary">Eliminar Producto</button>
            </form>
        </div>
    </div>

    <div class="grilla">
        <h3>Productos</h3>
        <div class="grillaproducts">
            {{#each products}}
            <div class="cardProduct">
                <div class="cardImage">
                    <img src="{{this.thumbnail}}" alt="{{this.name}}"
                        onerror="this.onerror=null;this.src='sin imagen';">
                </div>
                <div class="cardInfo">
                    <h3>{{this.title}}</h3>
                    <p>{{this.id}}</p>
                    <p>{{this.description}}</p>
                    <p>{{this.price}}</p>
                    <p>{{this.stock}}</p>
                    <p>{{this.code}}</p>
                    <p>{{this.category}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>